@import url("https://fonts.googleapis.com/css?family=Allerta+Stencil");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: rgb(134, 18, 18);
  color: white;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 10vw;
  text-shadow: -4px 4px black;
}

.code {
  font-family: "Consolas", monospace;
}
